<!DOCTYPE html>
<html>
<head>
  <title> Visualizador de Dados Abertos </title>
  <meta charset="utf-8">
  <link href="../css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>
<body>
  <form name="form_1" action="salvar.php" method="post">
    <div id="background">
      <div id="titulo">
        <h2>INFORME O NOME DA EMPRESA A PESQUISAR</h2>
      </div>
        <div class = "layout" id="busca">
          <input type="text" id= "busca" name="buscar" id="busca">
          <br><input type="submit" id="import" name="json" class="btn btn-primary btn-lg" value="Selecionar">

          <input type="submit" class="btn btn-primary btn-lg" id ="import" value="Editar Registros">
        </div>

    </div>

</form>
</body>
</html>
